/* Media Queries */
@media only screen and (max-width : 1200px) {
	#playerone-wrapper, #playertwo-wrapper, #playerone-menu, #playertwo-menu 
	{margin: 0 10px;}
}

@media only screen and (max-width : 992px) {
	#playerone-wrapper, #playertwo-wrapper, #playerone-menu, #playertwo-menu{
		float: none;
		margin: auto;
		overflow: auto;
	}
	#player-one, #player-two {
		margin: auto;
	}
	.leave-game {
		margin: 5px 47px;
	}
}

@media only screen and (max-width : 768px) {
	#playerone-wrapper, #playertwo-menu {
		float: left;
		margin: 0 10%;
	}
	#playerone-menu, #playertwo-wrapper {
		float: right;
		margin: 0 10%;
	}
}

@media only screen and (max-width : 480px) {
	#playerone-wrapper, #playertwo-wrapper, #playerone-menu, #playertwo-menu
	{margin: 0 30px;}
}