/* Media Queries */
@media only screen and (max-width : 1200px) {
	#player-one, #player-two, #playerone-menu, #playertwo-menu 
	{margin: 0 10px;}
}

@media only screen and (max-width : 992px) {
	#player-one, #player-two, #playerone-menu, #playertwo-menu{
		float: none;
		margin: auto;
	}
}

@media only screen and (max-width : 768px) {
	#player-one, #playertwo-menu {
		float: left;
		margin: 0 10%;
	}
	#playerone-menu, #player-two {
		float: right;
		margin: 0 10%;
	}
}

@media only screen and (max-width : 480px) {
	#player-one, #player-two, #playerone-menu, #playertwo-menu
	{margin: 0 30px;}
}