
#player-one, #player-two {
	width: 100px;
	height: 100px;
	margin: 0 30px;
	padding: 25px 5px;
	text-align: center;
	border: 2px solid #bbbbdd;
	border-radius: 3px;
}

#player-one {float: left;}
#player-two {float: right;}

#playerone-menu, #playertwo-menu {
	width: 100px;
	min-height: 100px;
	margin: 0 30px;
	padding: 5px;
	text-align: center;
}

#playerone-menu {float: right;}
#playertwo-menu {float: left;}

#playerone-scoreboard, #playertwo-scoreboard, #result-text {
	width: 100%;
	font-weight: bold;
}