
.input-wrapper {
	width: 80%;
	margin: auto;
}

/* Looked up this method on stack overflow: https://stackoverflow.com/questions/20627807/jquery-chat-box-show-first-messages-at-bottom-of-div-moving-up
 It totally rocks! Adjusted values to fit what I need. */
.chat-wrapper {
	overflow: none;
    position: relative;
    width: 80%;
    margin: 10px auto;
    height: 175px;
    border: 2px solid #c5c5c5;
    border-radius: 5px;
}

.chat-content {
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 167px;
}

.chat-content div.chat-entry {
	font-size: 12px;
	margin: 5px 10px;
	padding: 6px 14px;
	border: 1px solid #bbccdd;
	border-radius: 10px;
}
