
#player-one, #player-two {
	width: 100px;
	height: 100px;
	/*margin: 5 30px;*/
	padding: 25px 5px;
	text-align: center;
	border: 2px solid #bbbbdd;
	border-radius: 3px;
}

#playerone-wrapper {
	float: left;
	margin: 0 30px;
	border: 1px solid red;
}
#playertwo-wrapper {
	float: right;
	margin: 0 30px;
	border: 1px solid red;
}

#playerone-menu, #playertwo-menu {
	width: 100px;
	min-height: 100px;
	margin: 0 30px;
	padding: 5px;
	text-align: center;
}

#playerone-menu {float: right;}
#playertwo-menu {float: left;}

#playerone-scoreboard, #playertwo-scoreboard, #result-text {
	width: 100%;
	font-weight: bold;
}